# Ignore everything
/*
/*/

# Unignore the Unity Folders we want
!/Assets/
!/ProjectSettings/
!.gitignore
!README.md
!LICENSE

# Sublime Text Workspaces & Projects
*.sublime-*

# Vim Swap Files
*.sw?

# Windows Files
Desktop.ini
desktop.ini*
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/

# Linux
.Trashes